@model IEnumerable<TOIStest.Models.Vorm_1>

@{
    ViewData["Title"] = "Õppekavad";
    if(ViewData["search"] == null)
    {
        ViewData["search"] = "";
    }



}

<h1>Õppekavad</h1>

<div class="newform" style="background-color: ">
    <hr />
    <h2>Uus õppekava</h2>
<p>
    <label class="control-label">Õppekava täitja: </label>
    <input type="text" class="form-control" id="creator"/>
    <input type="submit" id="newForm" class="btn btn-primary" value="Loo uus" />
</p>
<hr />
</div>
<script src="~/js/newButton.js" asp-append-version="true"></script>
<div class="search" id="searchCurr">
    <label class="control-label">Otsi nimetuse järgi: </label>
    <input type="text" class="form-control" id="searchInput"/>
    <input type="submit" class="btn btn-primary" id="searchButton" value="Otsi"/>
</div>
<script src="~/js/searchCurriculums.js" asp-append-version="true"></script>

<table class="table">
    <thead>
        <tr>
            <th>
                Õppekava nimetus
            </th>
            <!--<th>
                @Html.DisplayNameFor(model => model.nameEnglish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nameRussian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.e_Study)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.practice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.independentStudy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.someElse)
            </th>-->
            <th>
                Kursuse maht(EAP)
            </th>
            <!--

            <th>
                @Html.DisplayNameFor(model => model.studyForm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studyLanguages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.targetGroup)
            </th>
            -->
            <th>
                Hindamismeetod
            </th>
            <!--

            <th>
                @Html.DisplayNameFor(model => model.gradingCriteriaEstonian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gradingCriteriaEnglish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gradingCriteriaRussian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studyGoalEstonian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studyGoalEnglish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studyGoalRussian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contentEstonian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contentEnglish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contentRussian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reqEstonian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reqEnglish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reqRussian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studyMethodsEstonian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studyMethodsEnglish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studyMethodsRussian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fieldOfTraining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fieldOfStudy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fieldOfStudyDetailed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.groupOfField)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.citationForField)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.baseForCurriculum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studyEnvironment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.competenceOfTeacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comments)
            </th>
            -->
            <th>
                Instituut
            </th>
            <!--

            <th>
                @Html.DisplayNameFor(model => model.mainSupervisorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isOrganiser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.supervisorInstitute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nameOfsupervisor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isSubscribable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.webName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.teacherNameOnWeb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isVisible)
            </th>
            -->
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Where(item => item.nameEstonian.ToLower().Contains(ViewData["search"].ToString()))) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nameEstonian)
            </td>
            <!--
            <td>
                @Html.DisplayFor(modelItem => item.nameEnglish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nameRussian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.e_Study)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.practice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.independentStudy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.someElse)
            </td>-->
            <td>
                @Html.DisplayFor(modelItem => item.EAP)
            </td>
            <!--

            <td>
                @Html.DisplayFor(modelItem => item.studyForm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studyLanguages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.targetGroup)
            </td>
            -->
            <td>
                @Html.DisplayFor(modelItem => item.gradingMethod)
            </td>
            <!--
            <td>
                @Html.DisplayFor(modelItem => item.gradingCriteriaEstonian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gradingCriteriaEnglish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gradingCriteriaRussian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studyGoalEstonian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studyGoalEnglish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studyGoalRussian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contentEstonian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contentEnglish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contentRussian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reqEstonian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reqEnglish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reqRussian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studyMethodsEstonian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studyMethodsEnglish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studyMethodsRussian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fieldOfTraining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fieldOfStudy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fieldOfStudyDetailed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.groupOfField)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.citationForField)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.baseForCurriculum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studyEnvironment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.competenceOfTeacher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comments)
            </td>
            -->
            <td>
                @Html.DisplayFor(modelItem => item.instituteOfMainSupervisor)
            </td>
            <!--
            <td>
                @Html.DisplayFor(modelItem => item.mainSupervisorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isOrganiser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supervisorInstitute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nameOfsupervisor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isSubscribable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.webName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.teacherNameOnWeb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isVisible)
            </td>
            -->
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Muuda</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detailid</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Kustuta</a>
            </td>
        </tr>
}
    </tbody>
</table>
